ion-card {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
  padding-bottom: 24px; /* default padding bawah */
}

/* Tambah padding bawah di layar besar */
@media (min-width: 768px) {
  .card-grid {
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .card-grid {
    padding-bottom: 64px;
  }
}


ion-card {
  background-color: #2e7d32;
  color: #2e7d32;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

ion-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

ion-card-subtitle, ion-card-content {
  font-size: 1.1rem;
  color: white;
}

.soft-green-bg {
  --background: #2e7d32;
}

ion-card-subtitle {
  font-size: 20px;
  font-weight: bold;
}

.status-out {
  color: #f44336; /* Merah */
}

.status-restock {
  color: #ff9800; /* Orange */
}

.status-available {
  color: #ffffff; /* Putih */
}



