ion-header {
  background-color: #2e7d32; // hijau tua
  color: white;
}

ion-toolbar {
  --background: #2e7d32;
  --color: white;
}

ion-title {
  font-weight: bold;
   font-size: 24px !important;
   text-align: center;
}

ion-content {
  --background: #f1f8f4; // latar belakang hijau muda/lembut
}

iion-item {
  --background: #2e7d32;
  --color: white;
  border-radius: 12px;
  margin-bottom: 12px;
  padding-inline: 8px;
  font-size: 14px;
}

ion-label {
  color: white;
  font-size: 14px;
}

ion-input,
ion-select {
  color: white;
  font-size: 14px;
}

ion-select::part(text) {
  color: white;
}

ion-button {
  --background: #2e7d32;
  --color: white;
  font-weight: bold;
  border-radius: 12px;
}




