<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-icon
        [name]="isEdit ? 'create-outline' : 'add-circle-outline'"
        slot="start"
        style="margin-right: 8px"
      ></ion-icon>
      {{ isEdit ? 'Edit Produk' : 'Tambah Produk' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: #f1f8f4">
  <ion-card>
    <ion-card-content>
      <form
        (ngSubmit)="submitForm()"
        #productForm="ngForm"
      >
        <ion-item lines="inset">
          <ion-label position="floating">Nama Produk</ion-label>
          <ion-input
            type="text"
            required
            [(ngModel)]="form.nama_produk"
            name="nama_produk"
          ></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">Harga</ion-label>
          <ion-input
            type="number"
            required
            [(ngModel)]="form.harga"
            name="harga"
          ></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">Qty</ion-label>
          <ion-input
            type="number"
            required
            [(ngModel)]="form.qty"
            name="qty"
          ></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">Satuan (UOM)</ion-label>
          <ion-select required [(ngModel)]="form.uom" name="uom">
            <ion-select-option value="pcs">pcs</ion-select-option>
            <ion-select-option value="pak">pak</ion-select-option>
            <ion-select-option value="kardus">kardus</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">Stok Reminder</ion-label>
          <ion-input
            type="number"
            required
            [(ngModel)]="form.stok_reminder"
            name="stok_reminder"
          ></ion-input>
        </ion-item>

        <ion-item lines="inset">
          <ion-label position="floating">SKU</ion-label>
          <ion-input
            type="number"
            required
            [(ngModel)]="form.sku"
            name="sku"
          ></ion-input>
        </ion-item>

        <div class="ion-padding-vertical">
          <ion-button
            expand="block"
            type="submit"
            color="primary"
            shape="round"
            size="large"
          >
            SIMPAN PRODUK
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
