<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Puhri Frozen</ion-title>
    <!-- <ion-searchbar
      placeholder="Cari produk..."
      [(ngModel)]="searchTerm"
      (ionInput)="filterProducts($event)"
      animated="true"
      color="light"
    ></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" className="soft-green-bg">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-content>
    <div class="card-grid">
      <app-explore-container
        *ngFor="let produk of products"
        [name]="produk.nama_produk"
        [harga]="produk.harga"
        [uom]="produk.uom"
        [sku]="produk.sku"
        [stock]="produk.stok_reminder"
        [qty]="produk.qty"
        (cardClicked)="goToTab2()"
      ></app-explore-container>
    </div>
  </ion-content>
</ion-content>
